
@{
    ViewData["Title"] = "Index";
}



<table id="myTable" class="container" style="margin-top:150px;">

    <tr> <td> Top Level Account </td> <td>Total Balance</td><td>View Details</td></tr>

</table>




<script src="~/Js/jquery.min.js"></script>
<script src="~/Js/ForTest.js"></script>
<link href="~/Css/ForTest.css" rel="stylesheet" />
<script src="~/Js/sweetalert.min.js"></script>
<link href="~/Css/sweetalert.css" rel="stylesheet" />

